html{
  background-color: #101411;
  width: 300px;
  height: 100%;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #bfffd1;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.center-aligned{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-buttons{  
  background-color: #104C35;
  color: #e4ebe6;
  border: 1px ;  
  text-align: center;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.link-buttons:hover {
  background-color: #08872b;
}

#header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;    
}

#dropdown-wrapper{
  position: relative;
  display: inline-block;
}

.symbol-button {
  background: none;
  border: none; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#menu-btn{
  width: 32px;
  height: 32px;
}

.symbol-icon {
  font-size: 20px;
  color: #bfffd1;
  transition: transform 0.25s linear, color 0.25s linear;
  transform-origin: center;
}

.symbol-button:hover .symbol-icon {
  transform: scale(1.5);
  font-weight: bolder;
  color:#08872b;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
}

hr{
  width: 100%;
}

#user-info{
  font-size: medium;
  color: #bfffd1;
}

#user-name{
  display: flex;
  font-weight: bold;
  gap: 8vw;
}

#avatar{
  max-width: 10vw;
  max-height: 10vw;
  border: 2px solid #bfffd1;
}

#user-stats{
  gap: 20vw;     
}

#top-repos{
  flex-direction: column;
}

.repo-inline{
  border-radius: 2px;
  border-width: 2px;
  color: #104C35;
  border: solid;
  margin: 8px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  width: 100%
}

.repo-name{
  white-space: nowrap;
  color: #bfffd1;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  display: block;
  max-width: 55vw;
}

.repo-inline-extra{
  display: flex;
  color: #bfffd1;
  align-items: center;
  gap: 5vw;
  flex-shrink: 0;
}

.repo-prs{
  white-space: nowrap;
  font-size: 14px;
}

#footer {
  flex-direction: row;
  gap: 5px;
  padding: 6px 0;
}

.footer-button {
  flex: 1;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  padding: 6px 0;
  line-height: 1;
  white-space: nowrap;
}

#login-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}

#button-nav{
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  border: 5px solid #104C35;
  background-color: #101411;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,1);
  z-index: 10;
  padding: 2vw;

  transform-origin: top;
  transform: scaleY(0);
  pointer-events: none;
  transition: transform 0.5s ease;
}

#dropdown-wrapper:hover #button-nav {
  transform: scaleY(1);
  pointer-events: auto;
}

#dropdown-wrapper:hover .symbol-icon {
  transform: scale(1.5);
  font-weight: bolder;
  color:#08872b;
}

.nav-buttons{
  font-size: 14px; 
  border-radius: 4px; 
  padding: 3px;
  margin: 5px;
  display: block;
  width: 100%;
}

#settings-view{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
}

#settings-container{
  margin: 8px;
  background-color: #101411;
  color: #bfffd1;
  z-index: 20;
  transition: opacity 0.2s ease;
  height: 100%;
}

#settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;   
}

#bottom-settings{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#bottom-settings > div {
  width: 100%;   
}

#update-token{
  width: 100%;
  flex-direction: column;
  gap: 1vh;
}

#repo-preferences {
  width: 100%;
  flex-direction: column;
  gap: 1vh;
}

.repo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-top: 1px solid #ffffff;
  overflow: hidden;
}
.repo-checkbox {
  margin-right: 10px;
}
